* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


h1 {
    font-family: Arial, Helvetica, sans-serif
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.3rem !important;
    padding: 0 3rem;
}

.carousel-item img {
    object-fit: cover;
    height: fit-content;
    max-height: 90vh;
    width: fit-content;
}

.nav-item {
    padding: 0 3rem;
}

.nav-item:hover {
    background-color: #ddd !important;
    transition: 0.3s ease-in-out;
}

.about {
    padding: 3rem 0;
}

.about h1 {
        display: flex;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
}

.card-title {
    font-size: 2.0rem;
    padding: 0.5rem 0;
}

.card-text {
    font-size: 1rem;
    color: black;
}

.card-img-overlay {
    width: 63%;
    margin: 2rem 2rem;
}

.team {
    padding: 3rem 0;
}

.team h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
}

.team .container {
    display: flex;
    justify-content: space-around;
}

.team img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.team a:hover {
    color:darkred;
}


.team_description {
    width: 100%;
    padding: 2rem 0;
}

.team_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team_box {
    width: 60%;
    padding: 1.5rem 0;
}

.team_description h2 {
    display: flex;
    justify-content: center;
}


@media (max-width: 760px) {
    
    .about h1 {
        display: flex;
        justify-content: center;
        padding: 0.5rem 0;
    }
    
    .card-title {
        font-size: 1.4rem;
        width: 100%;
    }

    .card-text {
        font-size: 0.9rem;
        background-color: #ddd;
    }

    .team {
        padding: 0.5rem 0;
    }

    .team .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.contact {
    padding: 3.5rem 0;
    width: 100%;
}

.content {
    padding: 2rem 0;
}

.contact h1 {
    display: flex;
    justify-content: center;
}

@media (max-width: 420px) {
    .carousel {
        padding: 2rem 0;
    }

    .contact {
        padding: 1.2rem 0;
    }

    .card-img-overlay {
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .card-text {
        font-size: 0.75rem;
        margin: 0 0.5rem;
    }

    .card-title {
        padding: 0;
        background-color: #ddd;
    }

    .carousel-item img {
        height: 66vh;
    }

    .team h5 {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team p {
        display: flex;
        justify-content: center;
        padding: 0.5rem 0;
    }

    .team a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;
    }
}

@media (max-width: 365px) {
    .card-img-overlay {
        padding: 0;
        margin: 1rem 0.5rem;
    }
    .card-text {
        font-size: 0.67rem;
    }

    .card-title {
        height: 4.5rem;
        padding: 0;
        display: flex;
        width: 100%;
        font-size: 1.2rem;
    }
}

@media (max-width: 325px) {
    .card-text {
        font-size: 0.55rem;
    }

    .navbar-brand {
        font-size: 2rem;
        padding: 0;
    }

    .card-title {
        font-size: 1.1rem !important;
        padding-right: 0.6rem !important;
    }
}

.footer {
    padding: 0.3rem 0;
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    padding: 0 5px;
}

.footer a:hover {
    color: #ddd !important;
    transition: 0.3s ease-in;
}

.footer-addition {
    width: 100%;
    display: flex;
    justify-content:center;
    font-size: 14px;
    padding-top: 6px;
    padding-right: 2rem;
}

@media (max-width: 560px) {
    .footer {
        font-size: 0.85rem;
    }

    .footer-addition {
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    .footer {
        font-size: 0.70rem;
    }

    .footer-addition {
        font-size: 8px;
    }
}

.contact input:hover {
    color: #df4759;
    transition: 0.3s ease-in-out;
}
